name: ci-test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: simple_bank
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.22.x'
          cache: true
      - name: Install migrate (golang-migrate)
        run: |
          VERSION=v4.19.1
          curl -L "https://github.com/golang-migrate/migrate/releases/download/${VERSION}/migrate.linux-amd64.tar.gz" | tar -xz
          sudo mv migrate /usr/local/bin/migrate
          migrate -version
      - name: Run migrations
        run: make migrateup
      - name: Test
        run: make test