name: ci-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
jobs:

  build:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          go-version: ^1.22
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test
        run: make test 

      